
*{
    box-sizing: border-box;
}


.Contenedor{
    border-radius: 30px;
    background: #f9f9f9;
    border: 2px solid rgb(193,187,187);
    margin-top: 20px;
    padding: 20px;
    width: 600px;
    height: 350px;
}

.Linea1{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.Linea1 .Cantidad{
    font-family: 'ROBOTO',sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.Linea1 .texto{
    margin-top: 15px;
    font-family: 'Ponnala',sans-serif;
    text-align: center;
}

.Linea1 h6{
    color: #a8a8a8;
    margin-right: 10px;
}

.Linea1 .Numero input{
    text-align: end;
}

.Linea2{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.Linea2 .number{
    font-family: 'ROBOTO',sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.Linea2 .Texto{
    margin-top: 20px;
    font-family: 'Ponnala',sans-serif;
    text-align: center;
    color: #f1f1f1;
}

.Linea2 h6{
    color: #a8a8a8;
    margin-right: 10px;
}

.Linea2 .Numero input{
    text-align: end;
    color: #434343;
}

 .Numero input{
    background-color: #d9d9d9;
    border-radius: 5px;
    border-color: transparent;
}

.