*{
    font-family: 'Ponnala',sans-serif;
    box-sizing: border-box;
}

main{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.Contenedor{
    border-radius: 30px;
    background: #f9f9f9;
    border: 2px solid rgb(193,187,187);
    margin: 0;
    padding: 20px;
    width: 800px;
}
.Plato1{
    width: 100%;
    height: 600px;
    object-fit: cover;
}