.carousel-item img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.previo{
    display: flex;
    background-color: rgb(239,171,82);
    border-radius: 100px;
    
}
 div .next{
    display:flex;
    background-color: rgb(239,171,82);
    border-radius: 100px;
}

.restaurantes_txt{
    color:rgb(239,171,82) ;
    font-weight: bold;
    margin-left: 2.5%;
}
.restaurantes{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: rgb(239, 171, 82) ;
    border-radius: 20px;
}
.img{
    background-color: #EFEFEF;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}

.card-title{
    display: flex;    
    justify-content: center;
}
.card-text{
    display: flex;
    justify-content:center;
}
a .btn {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:center;
}