
*{
    box-sizing: border-box;
}

main{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.Contenedor{
    border-radius: 30px;
    background: #f9f9f9;
    border: 2px solid rgb(193,187,187);
    margin: 0;
    padding: 20px;
    width:  450px;
    height: 520px;
}
  

.Contenedor h1{
    font-family: 'Ponnala',sans-serif;
    font-size: 40px;
    text-align: center;
    color: gray;
    margin-bottom: 10px;
}


.Contenedor .Nombres{
    display: flex;
    font-family: 'Ponnala',sans-serif;
    margin-bottom: 10px;
    
    
}

.Nombres .Nombre input{
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Nombres .Apellido input{
    width:95%;
    margin-left: 10px;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}


.Contenedor .Correo input{
    width: 100%;
    font-family: 'Ponnala',sans-serif;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Fecha .Days{
    font-family: 'ROBOTO',sans-serif;
    margin: 0px;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
    
}

.Fecha .Month{
    position: relative;
    font-family: 'ROBOTO',sans-serif;
    margin-top: 10px;
    margin-left:30px;
    margin-right:40px;
    margin-bottom: 10px;
    width: 40%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Fecha .Year{
    font-family: 'ROBOTO',sans-serif;
    padding: 2px;
    width: 28.5%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Genero{
    margin-bottom: 10px;
    font-family: 'Ponnala',sans-serif;
    width: 30%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Telefono{
    display: flex;
    font-family: 'ROBOTO',sans-serif;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    box-shadow: -2px 5px 8px gray;
}

 .DigitoPais input{
    width: 65px;
    margin-right: 25px;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Numero input{
    width: 170%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.comuna{
    margin-bottom: 5px;
    font-family: 'Ponnala',sans-serif;
    width: fit-content;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}



.Direccion input{
    margin-bottom: 10px;
    font-family: 'Ponnala',sans-serif;
    width: 100%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Contraseña input{
    margin-bottom: 10px;
    font-family: 'Ponnala',sans-serif;
    width: 100%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.RepContraseña input{
    margin-bottom: 10px;
    font-family: 'Ponnala',sans-serif;
    width: 100%;
    background-color: #f1f1f1;
    border:none;
    outline:none;
    box-shadow: -2px 5px 8px gray;
}

.Registrar .btn{
    position: relative;
    left: 35%;
    background-color: orange;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    text-align: center;
    margin: 10px 0 5px;
    color: #f9f9f9;
}

::placeholder{
    color: gray;
    
    
}