
*{
    box-sizing: border-box;
}

main{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.Contenedor{
    border-radius: 30px;
    background: #f9f9f9;
    border: 2px solid rgb(193,187,187);
    margin: 0;
    padding: 20px;
    width:  450px;
    height: 500px;
}
  

.Contenedor h1{
    font-family: 'Ponnala',sans-serif;
    font-size: 40px;
    text-align: center;
    color: gray;
}


.Nombres{
    display: flex;
    font-family: 'Ponnala',sans-serif;
    margin-bottom: 10px;
}

.Nombres .Apellido{
    margin-left: 10px;
}




.Fecha .Days{
    font-family: 'ROBOTO',sans-serif;
    margin: 0px;
}

.Fecha .Month{
    position: relative;
    font-family: 'ROBOTO',sans-serif;
    margin: 50px;
}

.Fecha .Year{
    font-family: 'ROBOTO',sans-serif;
    margin: 20px;
}