


body{
    background-color: rgb(170, 163, 163);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
header{
    background-color: rgb(170, 163, 163);

}



.barra{
    display: flex;
    background-color: white;
    padding: 3%;
    width: 100%;
    height: 40px;
    margin: 30px;
    align-items: center;
}

.icono{
    width: 10%;
}
.buscador{
    width: 40%;
}

.Inicio{
    display: grid;
    padding: 3%;
    width: 100%;
    height: 400px;
    background: white;
    align-items: center;
}


.boton{
    background-color: orange;
    width: 50%;
    margin: 10px;
}


.input-caja{
    display: grid;
}


